:root {
    /*Primary Colors*/
    --peach: rgb(321, 129, 107);
    --black: rgb(29, 28, 30);
    --white: rgb(255, 255, 255);
    /*Secondary Colors*/
    --lightPeach: rgb(255, 173, 155);
    --lighterPeach: rgb(251 241 240 / 0.95);
    --darkGrey: rgb(51, 49, 54);
    --lightGrey: rgb(241, 243, 245);
}

body {
    height: 2286px;
}

.proper {
    height: 2222px;
}

.index-container {
    height: 1358px;
}

.central-container{
    height: 30%;
}
.pg-links{
    height: 20%;
}
.proj {
    width: 32%;
    height: 100%;
    background-color: var(--lightPeach);
    border-radius: 7px;
}
.proj-pic {
    height: 67%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
}

.pic-tim{
    background-image: url("../assets/graphic-design/desktop/image-change.jpg");
}
.pic-sci {
    background-image: url("../assets/graphic-design/desktop/image-science.jpg");
}
.pic-box {
    background-image: url("../assets/graphic-design/desktop/image-boxed-water.jpg");
}
.proj-text {
    height: 33%;
    width: 100%;
}

    .proj-text p {
        width: 82%;
    }

.intro-web {
    height: 13%;
    background-image: url("../assets/graphic-design/desktop/bg-pattern-intro-graphic.svg");
    background-color: var(--peach);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 7px;
}

.intro-web-text {
    width: 50%;
    height: 49%;
}

.pg-links{
    height: 25%;
    flex-direction: row-reverse;
}
.pg-links-appGra, .pg-links-webDesign {
    width: 48%;
}

@media screen and (max-width: 768px){

    body{
        height: 2862px;
    }
    .proper{
        height: 100%;
    }
    .index-container{
        height: 1910px;
    }

    .intro-web{
        height: 13%;
    }
    .intro-web-text{
        width: 80%;
    }

    .central-container{
        height: 53%;
        flex-direction: column;
    }

    .proj{
        display: flex;
        height: 30%;
        width: 100%;
        align-items: center;
    }
    .proj-pic{
        height: 100%;
        width: 50%;
    }
    .proj-text {
        width: 50%;
    }

/*links styling
    =============
*/
    .pg-links{
        height: 22%;
    }
    .pg-links {
        flex-direction: column-reverse;
    }


    .pg-links-appGra {
        width: 100%;
        height: 47%;
    }

    .pg-links-webDesign {
        width: 100%;
        height: 47%;
    }


}

@media screen and (max-width: 375px){
    body{
        height: 3747px;
    }
    .proper{
        width: 100%;
        height: 99%;
    }
    .index-container{
        width: 95%;
        height: 2550px;
    }

    .intro-web{
        height: 13%;
    }
        .intro-web-text{
            width: 95%;
        }
    .central-container{
        height: 60%;
    }
        .proj{
           flex-direction: column;
        }
            .proj-pic{
                width: 100%;
                height: 70%;
            }
            .proj-text{
                width: 100%;
                height: 30%;
            }
    .pg-links{
        height: 21%;
    }


}