
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <div class="location">
        <div class="loc-pic tbmr"><div class="pic-can w-100 h-100"></div></div>
        <div class="loc-txt">
            <h3 class="can text-uppercase">Canada</h3>
            <a class="text-uppercase btn-light-idle" asp-controller="Home" asp-action="Locations">See Location</a>
        </div>
    </div>
    <div class="location">
        <div class="loc-pic tbm"><div class="pic-aus w-100 h-100"> </div> </div>
        <div class="loc-txt">
            <h3 class="can text-uppercase">Australia</h3>
            <a class="text-uppercase btn-light-idle" asp-controller="Home" asp-action="Locations">See Location</a>
        </div>
    </div>
    <div class="location">
        <div class="loc-pic ttp"> <div class="pic-uk w-100 h-100"></div> </div>
        <div class="loc-txt">
            <h3 class="can text-uppercase">United Kingdom</h3>
            <a class="text-uppercase btn-light-idle" asp-controller="Home" asp-action="Locations">See Location</a>
        </div>
    </div>
