:root {
    /*Primary Colors*/
    --peach: rgb(321, 129, 107);
    --black: rgb(29, 28, 30);
    --white: rgb(255, 255, 255);
    /*Secondary Colors*/
    --lightPeach: rgb(255, 173, 155);
    --lighterPeach: rgb(251 241 240 / 0.95);
    --darkGrey: rgb(51, 49, 54);
    --lightGrey: rgb(241, 243, 245);
}


body {
    height: 1640px;
}

.proper {
    height: 1575px;
}

.index-container {
    height: 1004px;
}
/*footer modification
    =================
*/
.talk{
    display: none;
}
.black-patch{
    height: 20%;
}
.footer{
    height: 177px;
    margin-bottom: 5%;
}

.intro-web{
    height: 48%;
    background-color: var(--lightPeach);
    background-image: url("../assets/contact/desktop/bg-pattern-hero-desktop.svg");
    background-repeat: no-repeat;
    background-size: auto;
/*    background-position: left;
*/    background-position-y: bottom;
      border-radius: 7px;
}

    .intro-web-txt{
        width: 40%;
        height: 38%;
    }
    .intro-web-form{
        height: 77%;
        width: 29%;
    }
        button{
            width: 35%;
            align-self: end;
        }
        input, textarea{
            background-color: transparent;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid var(--white);
        }



/* Location partial*/
.pg-locations {
    height: 36%;
}

.location {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loc-txt {
    width: 100%;
    height: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .loc-txt a {
        background-color: var(--peach);
        border-radius: 5%;
        width: 43%;
        color: var(--white);
        height: 44%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.loc-pic {
    background-color: var(--lighterPeach);
    width: 57%;
    height: 55%;
    border-radius: 50%;
}

    .pic-aus, .pic-can, .pic-uk {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .pic-can {
        background-image: url("../assets/shared/desktop/illustration-canada.svg");
    }

    .pic-aus {
        background-image: url("../assets/shared/desktop/illustration-australia.svg");
    }

    .pic-uk {
        background-image: url("../assets/shared/desktop/illustration-united-kingdom.svg");
    }

@media screen and (max-width: 768px){

    body{
        height: 2673px;
    }

    .proper{
        height: 98%;
    }
    .index-container{
        height: 2061px;
    }

    .intro-web{
        height: 35%;
        align-items: center;
        flex-direction: column;
    }
        .intro-web-form{
            width: 90%;
            height: 55%;
        }
            
        .intro-web-txt{
            width: 90%;
            height: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /*text-align: center;*/
        }

    .pg-locations{
        height: 60%;
        flex-direction: column;
        align-items: center;
    }
        .location{
           height: 30%;
           width: 51%;
       }


    .black-patch {
        height: 13%;
    }

    .footer {
        height: 177px;
        margin-bottom: 5%;
    }

}


@media screen and (max-width: 375px){
    body{
        height: 2914px;
    }
    .proper{
        width: 100%;
        height: 100%;
    }
    .index-container{
        height: 2076px;
        justify-content: space-between;
    }

    .intro-web{
        height: 37%;
    }
        form button{
            align-self: center;
        }
        .intro-web-txt{
            text-align: center;
        }
    .pg-locations{
        height: 57%;
    }
        .location{
            width: 100%;
        }
    .black-patch {
        height: 21%;
    }

    .footer {
        height: 498px;
        width: 80%;
        margin-bottom: 15%;
        background-color: beige;
    } 
        .ft-cont{
            height: 100%;
            background-color: paleturquoise;
        }
}