:root {
    /*Primary Colors*/
    --peach: rgb(321, 129, 107);
    --black: rgb(29, 28, 30);
    --white: rgb(255, 255, 255);
    /*Secondary Colors*/
    --lightPeach: rgb(255, 173, 155);
    --darkGrey: rgb(51, 49, 54);
    --lightGrey: rgb(241, 243, 245);
}

.index-container{
    height: 2079px;
}


/*Header styling
    -=----------
*/

.pg-header{
    height: 31%;
    overflow: hidden;
    background-color: var(--peach);
    background-image: url("../assets/home/desktop/bg-pattern-hero-home.svg");
    background-size:  unset;
    background-repeat: no-repeat;

    background-position:  right;

    border-radius: 20px;
}
    
    .pg-header-pic {
        background-image: url("../assets/home/desktop/image-hero-phone.png");
        width: 100%;
        height: 100%;
        background-position-x: 110%;
        background-position-y: 10%;
        background-repeat: no-repeat;

        flex-direction: column;

        padding: 0 0 0 9%;
    }

        .pg-header-cmt{
            width: 60%;
            height: 55%;
        }
            .pg-header-cmt a {
                padding-top: 2.5%;
                width: 25%;
                height: 15%;
            }

.pg-links{
    height: 31%;

}

    
    .principles{
        height: 20%;
        text-align: center;
    }
        
        .principles-pas, .principles-res, .principles-fri {
            width: 32%;
            flex-direction: column;
            height: 100%;
        }
        .pr-cont{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 202px;
            height: 202px;
            border-radius: 50%;

        }
        .principles-pas-pic, .principles-res-pic, .principles-fri-pic {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
            .principles-pas-pic{
                background-image:  url("../assets/home/desktop/illustration-passionate.svg");
            }
            .principles-res-pic{
                background-image: url("../assets/home/desktop/illustration-resourceful.svg");
            }
            .principles-fri-pic{
                background-image: url("../assets/home/desktop/illustration-friendly.svg");
            }
        .principles-pas-cmt, .principles-res-cmt, .principles-fri-cmt{
            width: 100%;
            height: 39%;
        }


@media screen and (max-width: 768px){
    body {
        height: 3311px;
    }

    .proper {
        height: 99%;
        width: 90%;
    }

    .index-container {
        height: 2402px;
    }

    .pg-header {
        height: 35%;
        
    }
        .pg-header a {
            display: flex;
            align-items: center;
            justify-content: center;
            /*width: 35%;*/
            height: 15%;
        }

        .pg-header-pic {
            padding: 5% 0;
            align-items: start;
            justify-content: start;
            flex-direction: row;
            background-position-y: -350%;
            background-position-x: 45%;
        }


        .pg-header-cmt{
            text-align: center;
            width: 83%;
            height: 50%;
            align-items: center;
        }


    /* Page links styling
        ================
    */

    .pg-links-webDesign {
        width: 100%;
        height: 30%;
    }

    .pg-links-appGra {
        width: 100%;
        height: 66%;
    }



    .principles {
        height: 27%;
        flex-direction: column;
    }
        .principles-pas, .principles-res, .principles-fri{
            width: 100%;
            height: 30%;
            flex-direction: row;
            justify-content: space-between;
        }
      
        .principles-pas-cmt, .principles-res-cmt, .principles-fri-cmt{
            width: 64%;
        }

    .pg-links {
        height: 29%;
        flex-direction: column; 
    }


    
}

@media screen and (max-width: 375px){
    body {
        height: 4499px;
    }

    .proper {
        height: 99%;
        width: 100%;
    }

    .index-container {
        height: 3398px;
    }

        .pg-header{
            height: 25%;

        }
            .pg-header-pic{
                background-position-x: 50%;
            }
            .pg-header-cmt{
                height: 37%;
                width: 100%;
            }
                .pg-header-cmt h1{
                    font-size: 32px;
                    line-height: 35px;
                }
                .pg-header-cmt a{
                    width: 50%;
                  
                }
        .principles{
            height: 24%;
        }
            .principles-pas, .principles-res, .principles-fri{
                flex-direction: column;

            }   
            .principles-pas-cmt, .principles-res-cmt, .principles-fri-cmt{
                width: 95%;
            }
        .pg-links{
            height: 41%;
        }
            .pg-links h1{
                font-size: 28px;
            }
            

}