
@{
    ViewData["Title"] = "AboutUs";
}

@section Styles{
    <link rel="stylesheet" href="~/css/AboutUsStyle.css" />
}

<div class="index-content h-100 w-100 d-flex flex-column justify-content-between align-items-center">
    <div class="intro-web w-100 d-flex justify-content-between">
        <div class=" intro-text h-100 d-flex justify-content-center align-items-center ">
            <div class="intro-text-box d-flex flex-column justify-content-between">
                <h1 class="text-white">About us</h1>
                <p class="text-white">Founded in 2010, we are a creative agency that produces lasting results for our clients. We’ve partnered with many startups, corporations, and nonprofits alike to craft designs that make real impact. We’re always looking forward to creating brands, products, and digital experiences that connect with our clients’ audiences.</p>
            </div>
        </div>
        <div class="intro-pic h-100"></div>
    </div>

    <div class="world-class w-100 h-25 d-flex justify-content-between flex-wrap">
        <div class="world-class-pic h-100"></div>
        <div class=" world-class-text h-100 d-flex flex-column justify-content-center align-items-center">
            <h2 class="">World-class talent</h2>
            <p>
                We are a crew of strategists, problem-solvers, and technologists. Every design is thoughtfully crafted from concept to launch, ensuring success in its given market. We are constantly updating our skills in a myriad of platforms.
            </p>
            <p>
                Our team is multi-disciplinary and we are not merely interested in form — content and meaning are just as important. We give great importance to craftsmanship, service, and prompt delivery. Clients have always been impressed with our high-quality outcomes that encapsulates their brand’s story and mission.
            </p>
        </div>

    </div>

    <div class="pg-locations d-flex justify-content-between w-100">
        <partial name="_locationPartial" />
    </div>

    <div class="real-ideal d-flex w-100 h-25">
        <div class=" real-ideal-text h-100 d-flex justify-content-center  align-items-center">
            <div class=" real-ideal-text-box">
                <h2> The real deal</h2>
                <p>
                    As strategic partners in our clients’ businesses, we are ready to take on any challenge as our own. Solving real problems require empathy and collaboration, and we strive to bring a fresh perspective to every opportunity. We make design and technology more accessible and give you tools to measure success.
                </p>
                <p>
                    We are visual storytellers in appealing and captivating ways. By combining business and marketing strategies, we inspire audiences to take action and drive real results.
                </p>
            </div>
        </div>
        <div class="real-ideal-pic h-100"></div>
    </div>
</div>

