
@{
    ViewData["Title"] = "AppDesign";
}

@section Styles{
    <link rel="stylesheet" href="~/css/AppDesignStyle.css" />
}

<div class="index-content h-100 w-100 d-flex flex-column justify-content-between align-items-center">
    <div class="intro-web w-100 d-flex justify-content-center align-items-center ">
        <div class="intro-web-text text-center d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-white">App Design</h1>
            <p class="text-white">
                Our mobile designs bring intuitive digital solutions
                to your customers right at their fingertips.
            </p>
        </div>
    </div>

    <div class="w-100 h-50 d-flex justify-content-between flex-wrap">
        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-air w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Airfilter </h3>
                    <p>Solving the problem of poor indoor air quality by filtering the air</p>
                </div>
            </div>

        </div>


        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-eye w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Eyecam </h3>
                    <p>Product that lets you edit your favorite photos and videos at any time</p>
                </div>
            </div>

        </div>

        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-fac c w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Faceit </h3>
                    <p>Get to meet your favorite internet superstar with the faceit app</p>
                </div>
            </div>

        </div>

        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-tod w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Todo </h3>
                    <p>A todo app that features cloud sync with light and dark mode</p>
                </div>
            </div>

        </div>

        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-loo w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Loopstudios </h3>
                    <p>A VR experience app made for Loopstudios</p>
                </div>
            </div>

        </div>

        <div class="proj d-flex justify-content-center align-items-center flex-column "></div>

    </div>

    <div class="pg-links d-flex justify-content-between w-100">   <partial name="_linksPartial" />  </div>

    

 </div>