
@{
    ViewData["Title"] = "GraphicDesign";
}

@section Styles{
    <link rel="stylesheet" href="~/css/GraphicDesignStyle.css" />
}

<div class="index-content h-100 w-100 d-flex flex-column justify-content-between align-items-center">

    <div class="intro-web w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="intro-web-text">
            <h1 class="text-white">Graphic Design</h1>
            <p class="text-white w-75">
                We deliver eye-catching branding materials that are
                tailored to meet your business objectives.

            </p>
        </div>
    </div>

    <div class="central-container w-100  d-flex justify-content-between flex-wrap">
        <div class="proj h-100 ">
            <div class="proj-pic pic-tim"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Tim Brown </h3>
                    <p>A book cover designed for Tim Brown’s new release, ‘Change’r</p>
                </div>
            </div>
        </div>
        <div class=" proj ">
            <div class="proj-pic pic-box"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Boxed Water </h3>
                    <p>A simple packaging concept made for Boxed Water</p>
                </div>
            </div>
        </div>
        <div class=" proj">
            <div class="proj-pic pic-sci"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Science </h3>
                    <p>A poster made in collaboration with the Federal Art Project</p>
                </div>
            </div>
        </div>
        

    </div>

    <div class="pg-links d-flex justify-content-between flex-row-reverse h-25 w-100">   <partial name="_linksPartial" />  </div>

</div>
