
@{
    ViewData["Title"] = "Locations";
}

@section Styles{
    <link rel="stylesheet" href="~/css/LocationsStyle" />
}

<div class="index-content h-100 w-100 d-flex flex-column justify-content-between align-items-center ">
    <div class="intro-web w-100 h-25 d-flex flex-column justify-content-between bg-dark">
        
    </div>

    <div class="w-100 h-25 d-flex justify-content-between flex-wrap bg-info">
        


    </div>

    <div class="pg-links d-flex justify-content-between flex-row-reverse h-25 w-100 bg-success">   </div>

</div>
