
@{
    ViewData["Title"] = "Locations";
}

@section Styles{
    <link rel="stylesheet" href="~/css/LocationsStyle.css" />
}

    <div class=" canada d-flex w-100 justify-content-between ">
        <div class=" canada-text ">
            <div class="loc-txt-box">
                <h2>Canada</h2>
                <div class="loc-txt-box-sm">
                    <div class="w-50">
                       <b> Designo Central Office</b>
                        <p>3886 Wellington Street <br />
                            Toronto, Ontario M9C 3J5 </p>
                    </div>
                    <div class="w-50">
                       <b> Contact </b>
                           <p> P : +1 253-863-8967 <br />
                        M : contact@designo.co </p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" canada-pic"></div>
    </div>
    <div class="austra d-flex w-100 justify-content-between">
        <div class=" austra-pic"></div>
        <div class=" austra-text">
            <div class="loc-txt-box">
                <h2>Australia</h2>
                <div class="loc-txt-box-sm">
                    <div class="w-50">
                        <b>Designo AU Office</b>
                        <p>19 Balonne Street <br />
                            New South Wales 2443</p>
                    </div>
                    <div class="w-50">
                        <b> Contact </b>
                           <p>
                            P : (02) 6720 9092 <br />
                            M : contact@designo.au
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk d-flex w-100 justify-content-between">
        <div class=" uk-text ">
            <div class="loc-txt-box">
                <h2>United Kingdom</h2>
                <div class="loc-txt-box-sm">
                    <div class="w-50">
                        <b> Designo UK Office</b>
                        <p>13  Colorado Way <br />
                            Rhyd-y-fro SA8 9GA </p>
                    </div>
                    <div class="w-50">
                        <b> Contact </b>
                           <p>
                            P : 078 3115 1400 <br />
                            M : contact@designo.uk
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" uk-pic"></div>
    </div>
