
@{
    ViewData["Title"] = "WebDesign";
}

@section Styles{
    <link rel="stylesheet" href="~/css/WebDesignStyle.css" />
}
<div class="index-content h-100 w-100 d-flex flex-column justify-content-between align-items-center">
    <div class="intro-web w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="intro-web-text text-center justify-content-center align-items-center">
            <h1 class="text-white">Web Design</h1>
            <p class="text-white">
                We build solutions that serve as powerful marketing tools <br /> and bring memorable brand experiences.
            </p>
        </div>
    </div>

    <div class="w-100 h-50 d-flex justify-content-between flex-wrap">
        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-exp w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Express </h3>
                    <p>A multi-carrier shipping website for ecommerce businesses</p>
                </div>
            </div>

        </div>
        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-tran w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Transfer </h3>
                    <p>Site for low-cost money transfers and sending money within seconds</p>
                </div>
            </div>

        </div>

        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-pho w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Photon </h3>
                    <p>A state-of-the-art music player with high-resolution audio and DSP effects</p>
                </div>
            </div>

        </div>

        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-bui c w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Builder </h3>
                    <p>Connects users with local contractors based on their location</p>
                </div>
            </div>

        </div>

        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-blo w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Blogr </h3>
                    <p>Blogr is a platform for creating an online blog or publication</p>
                </div>
            </div>

        </div>

        <div class="proj d-flex justify-content-center align-items-center flex-column ">

            <div class="proj-pic pic-cam w-100"></div>
            <div class="proj-text d-flex w-100 justify-content-center align-items-center">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-uppercase"> Camp </h3>
                    <p>Get expert training in coding, data, design, and digital marketing</p>
                </div>
            </div>

        </div>

    </div>

    <div class="pg-links d-flex justify-content-between w-100 ">   <partial name="_linksPartial" />  </div>

</div>






